<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MetalNoise.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>498755FC1B7AECB700998A57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>498756151B7AECB700998A57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>498756201B7AECB700998A57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
